@use './components/fonts';
@use './components/discord';

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
}

// General
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-neutral-900 text-white;
}

// .react-select-container {
//   background-color: red;
// }

.react-select__control {
  cursor: pointer !important;
  background-color: #262626 !important;
  border-color: #525252 !important;
  @apply py-1;
  &:hover {
    background-color: #525252 !important;
  }
}

.react-select__single-value {
  color: white !important;
}

.react-select__menu, .react-select__option {
  background-color: #404040 !important;
}

.react-select__option:hover {
  background-color: #525252 !important;
}









.react-select-wrap__control {
  cursor: pointer !important;
  background-color: #262626 !important;
  border-color: #525252 !important;
  @apply py-1;
  border-radius: 0.5rem 0 0 0.5rem !important;
  &:hover {
    background-color: #525252 !important;
  }
}

.react-select-wrap__single-value {
  color: white !important;
}

.react-select-wrap__menu, .react-select-wrap__option {
  background-color: #404040 !important;
}

.react-select-wrap__option:hover {
  background-color: #525252 !important;
}

.react-select-wrap__indicator-separator {
  display: none;
}


.react-select__indicator-separator {
  display: none;
}

.react-select__value-container img {
  display: none;
}







// Animations
.fadeInAndOutLoop {
  opacity: 1;
  animation: fade 2s linear infinite;
}


@keyframes fade {
  0%, 100% {
    opacity: 0.5
  }
  50% {
    opacity: 1
  }
}


@keyframes fadeInDown2 {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.onEnter_fadeInDown {
  animation: fadeInDown2 250ms ease-in-out;
}



@media screen and (min-width: 768px){
  #ibcSwitchButton {
    padding-top: 100%;
  }
}

#ibcSwitchButton {
  @apply block
}