@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), url("/fonts/montserrat/Montserrat-Regular.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  src: local("Montserrat Italic"), url("/fonts/montserrat/Montserrat-Italic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100;
  src: local("Montserrat Thin"), url("/fonts/montserrat/Montserrat-Thin.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100;
  src: local("Montserrat Thin Italic"), url("/fonts/montserrat/Montserrat-ThinItalic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 200;
  src: local("Montserrat ExtraLight"), url("/fonts/montserrat/Montserrat-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 200;
  src: local("Montserrat ExtraLight Italic"), url("/fonts/montserrat/Montserrat-ExtraLightItalic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), url("/fonts/montserrat/Montserrat-Light.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 300;
  src: local("Montserrat Light Italic"), url("/fonts/montserrat/Montserrat-LightItalic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), url("/fonts/montserrat/Montserrat-Medium.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 500;
  src: local("Montserrat Medium Italic"), url("/fonts/montserrat/Montserrat-MediumItalic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), url("/fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 600;
  src: local("Montserrat SemiBold Italic"), url("/fonts/montserrat/Montserrat-SemiBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), url("/fonts/montserrat/Montserrat-Bold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  src: local("Montserrat Bold Italic"), url("/fonts/montserrat/Montserrat-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), url("/fonts/montserrat/Montserrat-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 800;
  src: local("Montserrat ExtraBold Italic"), url("/fonts/montserrat/Montserrat-ExtraBoldItalic.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"), url("/fonts/montserrat/Montserrat-Black.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 900;
  src: local("Montserrat Black Italic"), url("/fonts/montserrat/Montserrat-BlackItalic.woff") format("woff");
}
@-webkit-keyframes floatingButtonTextFadeIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes floatingButtonTextFadeIn {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.floating-cta-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 500;
  overflow: hidden;
  color: #fff;
  background-color: #5865F2;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}
.floating-cta-button .icon-circle {
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  margin: 0.5rem;
  display: inline-block;
  z-index: 5000 !important;
  background-color: #5865F2;
  transition: padding-right 350ms ease;
  flex: 0 1 auto;
}
.floating-cta-button .cta-text {
  flex: 0 1 auto;
  visibility: hidden;
  padding: 0;
  width: 0;
  height: 0;
  z-index: 1;
  transition: padding 350ms ease-in-out;
}
.floating-cta-button:hover .cta-text {
  visibility: visible;
  padding: 0 1.25rem 0 0.25rem;
  width: inherit;
  height: inherit;
  -webkit-animation: floatingButtonTextFadeIn;
          animation: floatingButtonTextFadeIn;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
  height: 100%;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-neutral-900 text-white;
}

.react-select__control {
  cursor: pointer !important;
  background-color: #262626 !important;
  border-color: #525252 !important;
  @apply py-1;
}
.react-select__control:hover {
  background-color: #525252 !important;
}

.react-select__single-value {
  color: white !important;
}

.react-select__menu, .react-select__option {
  background-color: #404040 !important;
}

.react-select__option:hover {
  background-color: #525252 !important;
}

.react-select-wrap__control {
  cursor: pointer !important;
  background-color: #262626 !important;
  border-color: #525252 !important;
  @apply py-1;
  border-radius: 0.5rem 0 0 0.5rem !important;
}
.react-select-wrap__control:hover {
  background-color: #525252 !important;
}

.react-select-wrap__single-value {
  color: white !important;
}

.react-select-wrap__menu, .react-select-wrap__option {
  background-color: #404040 !important;
}

.react-select-wrap__option:hover {
  background-color: #525252 !important;
}

.react-select-wrap__indicator-separator {
  display: none;
}

.react-select__indicator-separator {
  display: none;
}

.react-select__value-container img {
  display: none;
}

.fadeInAndOutLoop {
  opacity: 1;
  -webkit-animation: fade 2s linear infinite;
          animation: fade 2s linear infinite;
}

@-webkit-keyframes fade {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fade {
  0%, 100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInDown2 {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes fadeInDown2 {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.onEnter_fadeInDown {
  -webkit-animation: fadeInDown2 250ms ease-in-out;
          animation: fadeInDown2 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
  #ibcSwitchButton {
    padding-top: 100%;
  }
}
#ibcSwitchButton {
  @apply block;
}/*# sourceMappingURL=index.css.map */