@use './components/fonts';
@use './components/discord';

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
}

// General
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-neutral-900 text-white;
}

// .react-select-container {
//   background-color: red;
// }

.react-select__control {
  cursor: pointer !important;
  background-color: #404040 !important;
  border-color: #737373 !important;
  color: red !important;
  @apply py-1;
}

.react-select__single-value {
  color: white !important;
}

.react-select__menu, .react-select__option {
  background-color: #404040 !important;
}

.react-select__option:hover {
  background-color: #525252 !important;
}








.react-select-wrap__control {
  cursor: pointer !important;
  background-color: #262626 !important;
  border-color: #525252 !important;
  color: red !important;
  @apply py-1;
  border-radius: 0.5rem 0 0 0.5rem !important;
}

.react-select-wrap__single-value {
  color: white !important;
}

.react-select-wrap__menu, .react-select-wrap__option {
  background-color: #404040 !important;
}

.react-select-wrap__option:hover {
  background-color: #525252 !important;
}

.react-select-wrap__indicator-separator {
  display: none;
}


.react-select__indicator-separator {
  display: none;
}

.react-select__value-container img {
  display: none;
}