@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 400;
  src:
    local('RundDisplay Regular'),
    url('/fonts/runddisplay/RundDisplay-Regular.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 100;
  src:
    local('RundDisplay Thin'),
    url('/fonts/runddisplay/RundDisplay-Thin.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 300;
  src:
    local('RundDisplay Light'),
    url('/fonts/runddisplay/RundDisplay-Light.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 500;
  src:
    local('RundDisplay Medium'),
    url('/fonts/runddisplay/RundDisplay-Medium.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 600;
  src:
    local('RundDisplay SemiBold'),
    url('/fonts/runddisplay/RundDisplay-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 700;
  src:
    local('RundDisplay Bold'),
    url('/fonts/runddisplay/RundDisplay-Bold.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 800;
  src:
    local('RundDisplay ExtraBold'),
    url('/fonts/runddisplay/RundDisplay-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 900;
  src:
    local('RundDisplay Black'),
    url('/fonts/runddisplay/RundDisplay-Black.woff') format('woff');
}
