@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 400;
  src:
    local('RundDisplay Regular'),
    url('/fonts/runddisplay/runddisplay-regular.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 100;
  src:
    local('RundDisplay Thin'),
    url('/fonts/runddisplay/runddisplay-thin.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 300;
  src:
    local('RundDisplay Light'),
    url('/fonts/runddisplay/runddisplay-light.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 500;
  src:
    local('RundDisplay Medium'),
    url('/fonts/runddisplay/runddisplay-medium.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 600;
  src:
    local('RundDisplay SemiBold'),
    url('/fonts/runddisplay/runddisplay-semibold.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 700;
  src:
    local('RundDisplay Bold'),
    url('/fonts/runddisplay/runddisplay-bold.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 800;
  src:
    local('RundDisplay ExtraBold'),
    url('/fonts/runddisplay/runddisplay-extrabold.woff') format('woff');
}

@font-face {
  font-family: 'RundDisplay';
  font-style: normal;
  font-weight: 900;
  src:
    local('RundDisplay Black'),
    url('/fonts/runddisplay/runddisplay-black.woff') format('woff');
}
